<div class="row">
  <div class="col-md-12">
    <h2><%= @horon.name %></h2>
  </div>
</div>

<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% direction = get_horon_direction_to_root(@horon.id) %>
      <% direction.each do |horon| %>
        <% if horon.id == @horon.id %>
          <li class="breadcrumb-item active" aria-current="page">
            <%= horon.name %>
          </li>
        <% else %>
          <li class="breadcrumb-item">
            <%= link_to horon.name, work_space_horon_path(horon.work_space_id, horon.id) %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </nav>
</div>

<% def display_tree(horon) %>
  <li>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= horon.name%>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to "詳細", work_space_horon_path(horon.work_space_id, horon.id), class:"dropdown-item" %>
        <%= link_to "編集", edit_work_space_horon_path(horon.work_space_id, horon.id), class:"dropdown-item" %>
        <%= link_to "削除", work_space_horon_path(horon.work_space_id, horon.id), method: :delete, class:"dropdown-item" %>
        <%= link_to "これより下のホロンを全て削除", destroy_all_work_space_horon_path(horon.work_space_id, horon.id), method: :delete, class:"dropdown-item" %>
      </div>
    </div>
    <ul>
      <% horon.children.each do |h| %>
        <% display_tree(h) %>
      <% end %>
    </ul>
  </li>
<% end%>

<div class="row">
  <div class="col-md-4 display-tree">
    <ul>
      <% display_tree(Horon.find(@work_space.root_id)) %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4 display-tree">
    <%= link_to new_work_space_horon_path(@work_space.id), class:"btn btn-block btn-outline-primary" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>
